version: '3.9'
services:
  postgres:
    image: postgres:14.1-alpine
    container_name: database-container
    ports:
      - "5432:5432"
    volumes:
      - ./temp/postgres/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=your_postgres_database
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=your_postgres_password
  app:
    image: node
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app-name
      - node_modules:/app-name/node_modules
    container_name: app-container
    ports:
      - "3000:3000"
    links:
      - postgres
    environment:
      - NODE_ENV=local
      - DB_URI=postgres://postgres:your_postgres_password@postgres:5433/database_name
      - ACCESS_SESSION_SECRET=your_session_secret
      - ACCESS_SESSION_LIFE=300

volumes:
  node_modules:
